header {
    display: block;
    background-color: #56bca6;
    padding: 10px;
}

h1 {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #56bca6;
}

nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #89e3d0;
}